{% extends "../layout/application.html" %}
{% load helper %}
{% load static %}
{% block content %}
	<div class = "product-content">
		<h1 class = "text-center text-head-title">{{ product_types|get_enum }}</h1>
		<div class = "row-nav-product d-flex justify-content-center">
			<a class = "nav-button text-center d-flex" href = "/product/type=0">All</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "/product/type=1">Bags</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "/product/type=2">Soaps</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "/product/type=3">Dresses</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "/product/type=4">Shirts</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "/product/type=5">Scarves</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "/product/type=6">Accessories</a>
		</div>
		<div class = "space-small-h d-flex justify-content-center">
			<div class="btn-group">
				<!-- <button class="btn btn-s btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					12 / page <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" class = "dropdown-page"> 12 / page </a></li>
					<li><a href="#" class = "dropdown-page"> 30 / page </a></li>
					<li><a href="#" class = "dropdown-page"> 60 / page </a></li>
				</ul> -->
			</div>
		</div>
		<div class = "content-image-product">
			<div class = "row space-medium">
				{% for product in products %}			
				<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="product-card-container">
						<img class = "img-responsive image-product" src='{{ product.id|index_of_image_url }}'>
						<h4 class = "text-center space-extra-small-h">{{ product.name }}.</h4>
						<h4 class="text-center price"> {{ product.price }}.00฿</h4>
						<a href="/product/{{ product.id }}" class="overlay btn btn-outline-info">Buy Now</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class = "page-button d-flex justify-content-center  space-medium-h">
			<div class = "d-flex flex-column justify-content-center ">
				<div>
					{% if products.has_previous %}
						<a class="btn btn-light space-small-v" href="?page={{ products.previous_page_number }}">< PREV</a>
					{% endif %}
					{% for i in products.paginator.num_pages|times %}
						<a class="btn btn-light space-extra-small-v {% if products.number == i %} btn-light-active {% endif %}" href="?page={{ i }}">{{ i }}</a>					
					{% endfor %}
					{% if products.has_next %}
						<a class="btn btn-light space-small-v" href="?page={{ products.next_page_number }}">NEXT ></a>
					{% endif %}
				</div>
				<!-- <div class = "d-flex justify-content-center space-small">
					<div class="btn-group">
						<button class="btn btn-s btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							12 / page <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#" class = "dropdown-page"> 12 / page </a></li>
							<li><a href="#" class = "dropdown-page"> 30 / page </a></li>
							<li><a href="#" class = "dropdown-page"> 60 / page </a></li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>
	</div>
{% endblock %}