{% extends "../layout/application.html" %}
{% load static %}
{% block content %}
	<div class = "product-content">
		<h1 class = "text-center text-head-title">ALL PRODUCTS</h1>
		<div class = "row-nav-product d-flex justify-content-center">
			<a class = "nav-button text-center d-flex align-items-center" href = "#">ALL</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "#">BAG</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "#">Soaps</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "#">Dresses</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "#">Shirts</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "#">Scarves</a>
			<div class="line-v"></div>
			<a class = "nav-button text-center d-flex align-items-center" href = "#">Accessories</a>
		</div>
		<div class = "space-small-h d-flex justify-content-center">
			<div class="btn-group">
				<button class="btn btn-s btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					12 / page <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" class = "dropdown-page"> 12 / page </a></li>
					<li><a href="#" class = "dropdown-page"> 30 / page </a></li>
					<li><a href="#" class = "dropdown-page"> 60 / page </a></li>
				</ul>
			</div>
		</div>
		<div class = "content-image-product">
			<div class = "row space-medium">
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
						<img class = "img-responsive image-product " src='{% static "images/product/product_01.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Sleev Over Size Tops<br>
							Lace Cotton Soi-Fah.<br>
							690.00฿</h4>
					</div>
				</div>
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
						<img class="img-responsive image-product" src='{% static "images/product/product_02.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Eco Bags Crossbody Bags Hand Woven<br> 
								and botanical dyed Cotton<br>
								Little Tan Midi Natural Color.<br>
								1,700.00฿</h4>
					</div>
				</div>
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
						<img class="img-responsive image-product" src='{% static "images/product/product_03.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Crossbody Bags Little Tan Extra Tan Color.<br>
							2,200.00฿</h4>
					</div>
				</div>
			</div>
			<div class = "row space-medium">
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
						<img class="img-responsive image-product" src='{% static "images/product/product_04.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Cotton Scarf Botanical dyed<br>
								Cotton Brown Color.<br>
								700.00฿</h4>
					</div>
				</div>
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
							<img class="img-responsive image-product" src='{% static "images/product/product_05.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Eco Bags Crossbody Bags Hand Woven<br>
								and botanical dyed Cotton<br>
								Little Tan Width Pink Color.<br>
								1,800.00฿</h4>
					</div>
				</div>
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
							<img class="img-responsive image-product" src='{% static "images/product/product_06.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Lace Tops Long Sleeve Cotton.<br>
								690.00฿</h4>
					</div>
				</div>
			</div>
			<div class = "row space-medium">
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
							<img class="img-responsive image-product" src='{% static "images/product/product_07.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Eco Bags Crossbody Bags Hand Woven<br> 
								and botanical dyed Cotton<br>
								Little Tan Midi Natural Color.<br>
								1,700.00฿</h4>
					</div>
				</div>
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
							<img class="img-responsive image-product" src='{% static "images/product/product_08.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Sleeveless Dresses Lace<br>
								Cotton Lotus Pollen.<br>
								980.00฿</h4>
					</div>
				</div>
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
							<img class="img-responsive image-product" src='{% static "images/product/product_09.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Sleeveless Vest Lace Cotton Cherry<br>
								Blossom Brown Color.<br>
								570.00฿</h4>
					</div>
				</div>
			</div>
			<div class = "row space-medium">
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
						<img class="img-responsive image-product" src='{% static "images/product/product_10.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Handwoven and natural dye<br>
								Cotton Cross-body Bags Little Tan Extra<br>
								Natural Color Hemp.<br>
								2,400.00฿</h4>
					</div>
				</div>
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
						<img class="img-responsive image-product" src='{% static "images/product/product_11.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Eco Bags Crossbody Bags Hand Woven <br>
								and botanical dyed Cotton Little<br>
								Tan Mini Pink Color.<br>
								1,500.00฿</h4>
					</div>
				</div>
				<div class = "col-4 d-flex justify-content-center">
					<div class = "product-content">
							<img class="img-responsive image-product" src='{% static "images/product/product_12.jpg" %}'>
						<h4 class = "text-center space-extra-small-h">Eco Bags Crossbody Bags Hand Woven <br>
								and botanical dyed Cotton Little<br>
								Tan Midi Green Color.<br>
								1,700.00฿</h4>
					</div>
				</div>
			</div>
		</div>
		<div class = "page-button d-flex justify-content-center  space-medium-h">
			<div class = "d-flex flex-column justify-content-center ">
				<div>
					<button type="button" class="btn btn-light space-small-v">< PREV</button>
					<button type="button" class="btn btn-light space-extra-small-v btn-light-active">1</button>
					<button type="button" class="btn btn-light space-extra-small-v">2</button>
					<button type="button" class="btn btn-light space-extra-small-v">3</button>
					<button type="button" class="btn btn-light space-extra-small-v">4</button>
					<button type="button" class="btn btn-light space-small-v">NEXT ></button>
				</div>
				<div class = "d-flex justify-content-center space-small">
					<div class="btn-group">
						<button class="btn btn-s btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							12 / page <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#" class = "dropdown-page"> 12 / page </a></li>
							<li><a href="#" class = "dropdown-page"> 30 / page </a></li>
							<li><a href="#" class = "dropdown-page"> 60 / page </a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}