{% load static %}
<footer class = "footer footer-size">
    <div class="d-flex justify-content-start">
        <img class = "image-logo img-fluid" style = "margin: 0 30px" src='{% static "images/footer/coup_logo.png" %}'>
        <p class = "footer-center" style = "margin-bottom: 0px">tel	: xx-xxxx-xxxx</p>
        <p class = "footer-center" style = "margin-bottom: 0px">email : test_coup@gmail.com</p>
    </div>
    <div class="d-flex justify-content-end">
        <img class = "footer-center image-license img-fluid" src='{% static "images/footer/footer_license.png" %}'>
        <img class = "footer-center image-social-icon img-fluid" src='{% static "images/footer/icon_facebook_grey.png" %}'>
        <img class = "footer-center image-social-icon img-fluid" src='{% static "images/footer/icon_instagram_grey.png" %}'>
    </div>
</footer>