<nav class="navbar navbar-lit bg-faded navbar-style navbar-color-slide">
	<div class="col-4 text-center navbar-menu">
			<div class="row">
					<a class="col-4 text-center navbar-menu navbar-color-text" href="/">HOME</a>
		<a class="col-4 text-center navbar-menu navbar-color-text" href="/product/type=0">PRODUCTS</a>
					<a class="col-4 text-center navbar-menu navbar-color-text" href="/about">ABOUT US</a>
			</div>
	</div>
	<div class="col-4 text-center navbar-menu ">
			{% load static %}
			<a class="navbar-menu" href="/">
					<img src='{% static "images/navbar_logo.png" %}' href="#">
			</a>
	</div>
	<div class="col-4 text-center navbar-menu">
		<div class="row content-align-center">
			<a class="col-4 text-center navbar-menu navbar-color-text i-search" href="#">
					<i class="fa fa-search" aria-hidden="true"></i>			
			</a>
			{% if request.session.email == None %}            
					<a class="col-4 text-center navbar-menu navbar-color-text" href="/user/login">LOGIN</a>
			{% else %}
					<div class="col-4">		
							{% include "./_login_nav.html" %}
					</div>
			{% endif %}  
			{% include "./_cart.html" %}
		</div>
	</div>
</nav>