<nav class="navbar navbar-lit bg-faded navbar-style navbar-color-head">
    <div class="col-4 text-center navbar-menu">
        <div class="row">
            <a class="col-4 text-center navbar-menu navbar-color-text" href="/">HOME</a>
			<a class="col-4 text-center navbar-menu navbar-color-text" href="/product">PRODUCTS</a>
            <a class="col-4 text-center navbar-menu navbar-color-text" href="/about">ABOUT US</a>
        </div>
    </div>
    <div class="col-4 text-center navbar-menu ">
        {% load static %}
        <a class="navbar-menu" href="#">
            <img src='{% static "images/navbar_logo.png" %}' href="#">
        </a>
    </div>
    <div class="col-4 text-center navbar-menu">
        <div class="row">
            <a class="col-4 text-center navbar-menu navbar-color-text i-search" href="#">
				<i class="fa fa-search" aria-hidden="true"></i>			
			</a>
			<a class="col-4 text-center navbar-menu navbar-color-text" href="/user/login">lOGIN</a>
			<a class="col-4 text-center navbar-menu navbar-color-text" href="#">
				<i class="fa fa-shopping-cart i-cart" aria-hidden="true" ></i>			
			</a>
        </div>
    </div>
</nav>