<nav id="nav-landing" class="navbar navbar-lit bg-faded navbar-style navbar-color-head fixed-top">
    <div class="col-4 text-center navbar-menu">
        <div class="row">
            <a class="col-4 text-center navbar-menu navbar-color-text" href="/">HOME</a>
			<a class="col-4 text-center navbar-menu navbar-color-text" href="/product/type=0">PRODUCTS</a>
            <a class="col-4 text-center navbar-menu navbar-color-text" href="/about">ABOUT US</a>
        </div>
    </div>
    <div class="col-4 text-center navbar-menu ">
        {% load static %}
        <a class="navbar-menu" href="/">
            <img src='{% static "images/navbar_logo.png" %}' href="#">
        </a>
    </div>
    <div class="col-4 text-center navbar-menu">
        <div class="row">
            <a class="col-4 text-center navbar-menu navbar-color-text i-search" href="#">
				<i class="fa fa-search" aria-hidden="true"></i>			
            </a>
            {% if request.session.email == None %}            
                <a class="col-4 text-center navbar-menu navbar-color-text" href="/user/login">LOGIN</a>
            {% else %}
                <div class="col-4">
                    {% include "./_login_nav.html" %}
                </div>
            {% endif %}    
			<!-- <a class="col-4 text-center navbar-menu navbar-color-text open-cart" href="#">
				<i class="fa fa-shopping-cart i-cart" aria-hidden="true" ></i>			
            </a> -->
            <div class = "col-4">
                <div class="dropdown btn-group">
                    <button class="btn btn-dropdown-cart dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-cart i-cart" aria-hidden="true" ></i>			
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-cart f-dropdown" aria-labelledby="dropdownMenuButton" role="menu">
                        <div class = "d-flex dropdown-cart-title">
                            <i class="fa fa-shopping-cart i-cart space-between" aria-hidden="true" ></i>
                            <div class="circle sizing space-between mr-auto">2</div>
                            <div class = "space-between">Total :</div>
                            <div class = "space-between">2400</div>
                            <div class = "space-between">฿</div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-cart-content" href="#">
                            <div class = "d-flex">
                                <img class = "" src = "static/images/detail/detail_01.jpg">
                                <div class = "">
                                    <div class = "product-name space-between-detail" >
                                        Test01
                                    </div>
                                    <div>
                                        <div class = "d-flex space-between-line">
                                            <div class = "space-between-detail">COLOR</div>
                                            <div class = "product-color product-border space-between-detail"></div>
                                        </div>
                                        <div class = "d-flex space-between-line">
                                            <div class = "space-between-detail">SIZE</div>
                                            <div class = "product-size product-border space-between-detail">M</div>
                                            <div class = "d-flex space-between-detail">
                                                <div class = "space-between">Total :</div>
                                                <div class = "space-between">1200</div>
                                                <div class = "space-between">฿</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item dropdown-cart-content" href="#">
                            <div class = "d-flex">
                                <img class = "" src = "static/images/detail/detail_01.jpg">
                                <div class = "">
                                    <div class = "product-name space-between-detail" >
                                        Test02
                                    </div>
                                    <div>
                                        <div class = "d-flex space-between-line">
                                            <div class = "space-between-detail">COLOR</div>
                                            <div class = "product-color product-border space-between-detail"></div>
                                        </div>
                                        <div class = "d-flex space-between-line">
                                            <div class = "space-between-detail">SIZE</div>
                                            <div class = "product-size product-border space-between-detail">M</div>
                                            <div class = "d-flex space-between-detail">
                                                <div class = "space-between">Total :</div>
                                                <div class = "space-between">1200</div>
                                                <div class = "space-between">฿</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                        <div class = "div-cart-checkout">
                            <button class="btn btn-checkout" type="button" href= "/user/login">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>