<nav class="navbar navbar-light bg-faded navbar-style navbar-color-head">
	<div class = "col-4 text-center navbar-menu">
		<div class = "row">
			<a class="col-4 text-center nav-link" href="#">Home</a>
			<a class="col-4 text-center navbar-menu nav-link" href="#">Products</a>
			<a class="col-4 text-center navbar-menu nav-link" href="#">About us</a>
		</div>
	</div>
	<div class = "col-4 text-center navbar-menu ">
		{% load static %}
		<a class = "navbar-brand" href="#">
			<img src='{% static "images/navbar_logo.png" %}' href="#">
		</a>
	</div>
	<div class = "col-4 text-center navbar-menu">
		<div class = "row">
			<a class="col-4 text-center navbar-menu nav-link i-search" href="#">
				<i class="fa fa-search" aria-hidden="true"></i>			
			</a>
			<a class="col-4 text-center navbar-menu nav-link" href="#">login</a>
			<a class="col-4 text-center navbar-menu nav-link" href="#">
				<i class="fa fa-shopping-cart i-cart" aria-hidden="true" ></i>			
			</a>
		</div>
	</div>	
</nav>