<nav class="navbar navbar-lit bg-faded navbar-style navbar-color-slide">
	<div class="col-4 text-center navbar-menu">
			<div class="row">
					<a class="col-4 text-center navbar-menu navbar-color-text" href="/">HOME</a>
		<a class="col-4 text-center navbar-menu navbar-color-text" href="/product/type=0">PRODUCTS</a>
					<a class="col-4 text-center navbar-menu navbar-color-text" href="/about">ABOUT US</a>
			</div>
	</div>
	<div class="col-4 text-center navbar-menu ">
			{% load static %}
			<a class="navbar-menu" href="/">
					<img src='{% static "images/navbar_logo.png" %}' href="#">
			</a>
	</div>
	<div class="col-4 text-center navbar-menu">
			<div class="row content-align-center">
				{% include "./_search.html" %}
				{% if request.session.email == None %}            
						<a class="col-4 text-center navbar-menu navbar-color-text" href="/user/login" id="login">LOGIN</a>
				{% else %}
						<div class="col-4" id="login">		
								{% include "./_login_nav.html" %}
						</div>
				{% endif %}  
				{% if request.session.email != None %}
				<div class = "col-4" id="cart">
					{% include "./_cart.html" %}
				</div>
				{% endif %}
			</div>
	</div>
</nav>
