<nav id="nav-landing" class="navbar navbar-lit bg-faded navbar-style navbar-color-head fixed-top">
    <div class="col-4 text-center navbar-menu">
        <div class="row">
            <a class="col-4 text-center navbar-menu navbar-color-text" href="/">HOME</a>
			<a class="col-4 text-center navbar-menu navbar-color-text" href="/product/type=0">PRODUCTS</a>
            <a class="col-4 text-center navbar-menu navbar-color-text" href="/about">ABOUT US</a>
        </div>
    </div>
    <div class="col-4 text-center navbar-menu ">
        {% load static %}
        <a class="navbar-menu" href="/">
            <img src='{% static "images/navbar_logo.png" %}' href="#">
        </a>
    </div>
    <div class="col-4 text-center navbar-menu">
        <div class="row">
            <a class="col-4 text-center navbar-menu navbar-color-text i-search" href="#">
				<i class="fa fa-search" aria-hidden="true"></i>			
            </a>
            {% if request.session.email == None %}            
                <a class="col-4 text-center navbar-menu navbar-color-text" href="/user/login">LOGIN</a>
            {% else %}
                <div class="col-4">
                    {% include "./_login_nav.html" %}
                </div>
            {% endif %}    
			<!-- <a class="col-4 text-center navbar-menu navbar-color-text open-cart" href="#">
				<i class="fa fa-shopping-cart i-cart" aria-hidden="true" ></i>			
            </a> -->
            <div class="dropdown col-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-shopping-cart i-cart" aria-hidden="true" ></i>			
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</nav>