{% extends "../layout/application.html" %}
{% block content %}
<div class="container">
    <div class = "row">
        <h1>Checkout</h1>
        <div class = "checkout-panel">
                <ul class="nav nav-tabs">
                    <li class="col-4 pointer d-flex positioning-center"> 
                        <div class = "circle">1</div>
                        <div>Shopping Cart</div>
                    </li>
                    <li class="col-4 pointer2 d-flex positioning-center">
                        <div>2</div>
                        <div>Shopping Info</div>
                    </li>
                    <li class="col-4  d-flex positioning-center">
                        <div>3</div>
                        <div>Shopping PaymentMethod</div>
                    </li>
                </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane checkout-content fade show active" id="shopping_cart" >
                    <h5>You have n items in your cart.</h5>
                    <div class = "line-block-content"></div>
                </div>
                <div class="tab-pane checkout-content fade" id="shopping_info">
                    ...2
                </div>
                <div class="tab-pane checkout-content fade" id="shopping_paymentmethod">
                    ...3
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}