{% extends "../layout/application.html" %}
{% load helper %}
{% load static %}
{% block content %}
<div class = "history-container">
	<h1 class = "head-title">History</h1>	
	<table class="table table-hover table-responsive">
		<thead>
		  <tr>
			<th scope="col">PRODUCT</th>
			<th scope="col">PRICE</th>
			<th scope="col">QUANITY</th>
			<th scope="col">TOTAL</th>
			<th scope="col">DATE</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
		  {% for p in payment %}
		  <th scope="row">
				<div class = "d-flex">
					<div>
						<img class="product-img" src='{% static "images/product/product_01.jpg" %}'>
					</div>
					<div class = "d-flex flex-column table-product-detail justify-content-center">
						<div class = "text-table-product-name">
							{{ p.product.name }}
						</div>
						<div class = "d-flex">
							<div class = "text-table-categories">
								Categories :
							</div>
							<div class = "text-table-categories-type">
								{{ p.product.product_types|get_enum }}
							</div>
						</div>
					</div>
				</div>
			</th>
			<td class = "justify-content-center">
				<div>
					{{ p.product.price }}.00 ฿
				</div>
			</td>
			<td class = "justify-content-center"> 
				<div>
					{{ p.quantity }}
				</div>
			</td>
			<td class = "justify-content-center">
				<div>
					{{ p.quantity|get_price_history:p.product.price }}.00 ฿
				</div>
			</td>
			<td class = "justify-content-center">
				<div>
					{{ p.history.date }}	
				</div>
			</td>
		  </tr>
		  {% endfor %}
		</tbody>
	  </table>
</div>
{% endblock %}