{% extends "../layout/application.html" %}
{% block content %}
	<div class="container-login">
		<div class="login">
			<div class="text-center head">
				Login
			</div>
			<form action="{ url 'user/login' }" method="post">
				<input type="text" placeholder="Email*" class="input-field">
				<input type="password" placeholder="Password*" class="input-field">
				<div class="forgot-password">Forgot password?</div>
				<div class="group-button">
					<input class="btn button-submit" type="submit" value="Login">					
					<a class="btn button-submit" href="/user/register">Register</a>
				</div>
				<div class="line-border"></div>
				<div class="login-by group-button">Login by</div>
				<div class="group-button">
						{% load static %}
						<a class="btn button-submit">
							<img src='{% static "images/login/facebook.png" %}' href="#">
							Facebook
						</a>
						<a class="btn button-submit">
							<img src='{% static "images/login/gmail.png" %}' href="#">							
							Gmail+
						</a>
						<a class="btn button-submit">
							<img src='{% static "images/login/twitter.png" %}' href="#">														
							Twitter
						</a>					
				</div>
			</form>
		</div>
	</div>
{% endblock %}