{% extends "../layout/application.html" %}
{% block content %}
	<div class="container register">
		<form action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<div class="text-center title-register">Register</div>
			<div class="sub-register">- User information</div>
			<div class="line-register"></div>
			<div>
				<input class="input-field" type="email" placeholder="Email*" name="email">
			</div>
			<div>
				<input class="input-field" type="password" placeholder="Password*" name="password">
			</div>
			<div>
				<input class="input-field margin-divide" type="password" placeholder="Re-enter Password*" name="re-password">
			</div>
			<div class="sub-register">- Personal information</div>
			<div class="line-register"></div>			
			<div class="text-center">
				<input class="sub-input-field" type="text" placeholder="Firstname*" name="firstname">
				<input class="sub-input-field" type="text" placeholder="Lastname*" name="lastname">
			</div>
			<div>
				<textarea class="input-field" cols="30" placeholder="Address*" name="address"></textarea>
			</div>
			<div class="text-center">
				<input class="sub-input-field" type="text" placeholder="City*" name="city">
				<input class="sub-input-field" type="text" placeholder="State*" name="state">
			</div>
			<div class="text-center margin-divide">
				<input class="sub-input-field" type="text" placeholder="Country/Region*" name="country">
				<input class="sub-input-field" type="text" placeholder="Zip/Postal Code*" name="zip">
			</div>
			<div class="text-center margin-divide ">
				<input class="button-submit" type="submit" value="Register">
				<button class="button-submit">Cancel</button>				
			</div>
		</form>
	</div>
{% endblock %}