<!DOCTYPE html>
<html lang="en">
<head>
	{% include "shared/_head.html" %}
	{% include "shared/_tools.html" %}
	{% include "shared/_fonts.html" %}
	{% include "shared/_app_css.html" %}
</head>
<body class = "admin-body">
	<div class = "row admin-layout">
			<div class = "col-2 padding-zero">
				{% include "shared/_navbar_admin.html" %}
			</div>
			<div class = "col-10 padding-zero">
				{% block content %}{% endblock %}
			</div>
	</div>
	{% include "shared/_footer.html" %}
	{% include "shared/_app_js.html" %}
</body>

</html>