{% extends "../layout/application.html" %}
{% load static %}
{% block content %}
	<div class = "content">
		<div class = "landing-background-title "></div>
		<div class = "line"></div>
		<div class = "content-newarrivals">
			<h3 class = "text-center text-heading">New Arrivals.</h3>
			<div class = "d-flex justify-content-center">
				<img class = "newarrivals-images" src = '{% static "images/landing/newarrival_01.jpg" %}'>
				<img class = "newarrivals-images" src = '{% static "images/landing/newarrival_02.jpg" %}'>
				<img class = "newarrivals-images" src = '{% static "images/landing/newarrival_03.jpg" %}'>
			</div>
			<div class = "d-flex justify-content-center">
				<img class = "newarrivals-images" src = '{% static "images/landing/newarrival_04.jpg" %}'>
				<img class = "newarrivals-images" src = '{% static "images/landing/newarrival_05.jpg" %}'>
				<img class = "newarrivals-images" src = '{% static "images/landing/newarrival_06.jpg" %}'>
			</div>
		</div>
		<div class = "line"></div>
		<div class = "content-special-promotions">
			<h3 class = "text-center text-heading">Speacial promotion.</h3>
			<div class = "d-flex justify-content-center">
				<img class = "speacial-promotion-big-branner" src = '{% static "images/landing/silde-pic-promotion.png" %}'>
			</div>
			<div class = "d-flex justify-content-center">
				<img class = "speacial-promotion-small-branner" src = '{% static "images/landing/silde-pic-promotion-sub.png" %}'>
				<img class = "speacial-promotion-small-branner" src = '{% static "images/landing/silde-pic-promotion-sub.png" %}'>
			</div>
		</div>
		<div class = "line"></div>
		<div class = "content-find-products">
			<h3 class = "text-center text-heading">Find our products.</h3>
			<div class = "d-flex justify-content-center">
				<img class = "find-products" src = '{% static "images/landing/find_products_01.jpg" %}'>
				<img class = "find-products" src = '{% static "images/landing/find_products_02.jpg" %}'>
				<img class = "find-products" src = '{% static "images/landing/find_products_03.jpg" %}'>
				<img class = "find-products" src = '{% static "images/landing/find_products_04.jpg" %}'>
				<img class = "find-products" src = '{% static "images/landing/find_products_05.jpg" %}'>
			</div>
		</div>
	</div>
{% endblock %}