{% extends "../layout/application.html" %} {% load static %} {% block content %}
<div class="content">
    <div class="landing-background-title "></div>
    <div class="line"></div>
    <div class="content-newarrivals">
        <h3 class="text-center text-heading">NEW ARRIVALS</h3>
        <div class="newarrivals-items-margin-bottom d-flex justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive newarrivals-images" src='{% static "images/landing/newarrival_01.jpg" %}'>
                    <div class="overlay">

                        <a class="info link-size" href="#">link here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive newarrivals-images" src='{% static "images/landing/newarrival_02.jpg" %}'>
                    <div class="overlay">

                        <a class="info link-size" href="#">link here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive newarrivals-images" src='{% static "images/landing/newarrival_03.jpg" %}'>
                    <div class="overlay">

                        <a class="info link-size" href="#">link here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="newarrivals-items-margin-bottom d-flex justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive newarrivals-images" src='{% static "images/landing/newarrival_04.jpg" %}'>
                    <div class="overlay">

                        <a class="info link-size" href="#">link here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive newarrivals-images" src='{% static "images/landing/newarrival_05.jpg" %}'>
                    <div class="overlay">

                        <a class="info link-size" href="#">link here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img class="img-responsive newarrivals-images" src='{% static "images/landing/newarrival_06.jpg" %}'>
                    <div class="overlay">

                        <a class="info link-size" href="#">link here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="content-special-promotions">
        <h3 class="text-center text-heading">SPEACIAL PROMOTION</h3>
        <div class="d-flex justify-content-center">
            <img class="speacial-promotion-big-branner" src='{% static "images/landing/silde-pic-promotion.png" %}'>
        </div>
        <div class="d-flex justify-content-center">
            <img class="speacial-promotion-small-branner" src='{% static "images/landing/silde-pic-promotion-sub.png" %}'>
            <img class="speacial-promotion-small-branner" src='{% static "images/landing/silde-pic-promotion-sub.png" %}'>
        </div>
    </div>
    <div class="line"></div>
    <div class="content-find-products">
        <h3 class="text-center text-heading">FIND OUR PRODUCTS</h3>
        <div class="d-flex justify-content-center">
            <img class="find-products" src='{% static "images/landing/find_products_01.jpg" %}'>
            <img class="find-products" src='{% static "images/landing/find_products_02.jpg" %}'>
            <img class="find-products" src='{% static "images/landing/find_products_03.jpg" %}'>
            <img class="find-products" src='{% static "images/landing/find_products_04.jpg" %}'>
            <img class="find-products" src='{% static "images/landing/find_products_05.jpg" %}'>
        </div>
    </div>
</div>
{% endblock %}