{% extends "../layout/application.html" %} {% load static %}
{% block content %}
	<div class="text-center container container-about">
		<div class="title">What is coup ?</div>
		<div class="sub-title">Type something</div>
		<p class="story">
				After its name, COUP is the production of earthtone bags produced from 100% hand-woven cotton 
				and hemp in natural dying colors and decorated with leather. 
				Interestingly, TAN in Thai means “in the name of us”.
		</p>	
		<p class="story">	
				COUP has been established form 2001 by the two sisters of Chatwongwan family who fell in love 
				with Chiangmai city even though they are from a Chinese-Thai family in Nakornrajchasima.
		</p>
		<div class="line"></div>
		<div class="row row-img-container">
			<div class="col-4">
				<img class="img-responsive" src='{% static "images/product/product_02.jpg" %}'>
			</div>
			<div class="col-4">
				<img class="img-responsive" src='{% static "images/product/product_02.jpg" %}'>
			</div>
			<div class="col-4">
				<img class="img-responsive" src='{% static "images/product/product_02.jpg" %}'>
			</div>
		</div>
		<div class="row row-img-container">
			<div class="col-6">
				<img class="img-responsive" src='{% static "images/product/product_02.jpg" %}'>
			</div>
			<div class="col-6">
				<img class="img-responsive" src='{% static "images/product/product_02.jpg" %}'>
			</div>
		</div>
		<div class="line"></div>
		<p class="story">
				Karuna Chatwongwan, the owner of the COUP shop and the creator of COUP   said, “The bags I make just represent myself. 
				It shows my way of life which is simple, peaceful and honest to everybody. 
				My bags are always made from natural materials and natural dying colors so they are friendly to nature. 
				Making a bag is the best therapy for me as it lets me practice meditation.  I can see myself through the bag I did. 
				When I feel down, a bag come out pretty crappy but when I am in a good mood a bag looked happy with me.”
		</p>		
		<p class="story">		
				“So I named my bags ‘COUP’ as they are in the name of us – my sister, myself and my soul. 
				We started making wonderful bags together. 
				I would like to say thanks so much to my lovely sister for starting TAN with me and encourage me until COUP can go further and grown up so strong. 
				She is good at managing and hard working. Even she doesn’t work with COUP now but we always encourage each other. 
				I also would like to thank to my parents who are great supporters for giving me understanding. 
				They make me stand up and continue going further when I fall down.”
		</p>		
		<p class="story">		
				“In addition to the sisters, COUP assistants includes Pi Add (big sister Add), a nice lady who always works in silence; 
				Pi Yaowared a neat sewer; Nong Duen little sister Duen), a friendly sewer who always smiles; 
				Nong Noon and Nong Pim our seller with a welcoming smile at our COUP shop; 
				and Nong Pum and Nong Pai, a funny girl who helps us with informative management.”
		</p>
		<p class="story">
				All is “COUP” – a happy team that is simple and appreciates people as much as it does nature.
		</p>
		<div class="line"></div>
		<div class="row row-img-container">
			<div class="col-6">
				<img class="img-responsive" src='{% static "images/product/product_02.jpg" %}'>
			</div>
			<div class="col-6">
				<img class="img-responsive" src='{% static "images/product/product_02.jpg" %}'>
			</div>
		</div>
		<div class="line"></div>
		<p class="story">
				Willingness
		</p>		
				We attempt to link the Northern Thai culture and the  contemporary  minimal  style   together. 
				Our products  is  the  representative  of  our  motto to give importance  to  the  product  utility  and  the harmony  to the contemporary lifestyle. 
				What we mainly care in the production procedure is  the  happiness  and  safety  of  both  customers and suppliers.
		<p class="story">		
				All  our  products are made from natural materials and botanical dyeing colors,so they are environmental friendly.
		</p>		
		<p class="story">	
				May the natural peace be with you,
		</p>
		<p class="story">		
				Naa(Karuna Chatwongwan)
		</p>
		<div class="horizontal-line"></div>
	</div>
{% endblock %}