@import 'navbar.scss';
@import 'footer.scss';
@import 'landing-page.scss';
@import 'login.scss';
@import 'product.scss';
html, body {
    height: 100%;
    margin: 0;
    background-color: white; 
}
.content{
    min-height: 100%;
}


  

