@import 'navbar.scss';
@import 'footer.scss';
@import 'footer.scss';
// body{ background-color: darkcyan; }
html, body {
    height: 100%;
    margin: 0;
    background-color: white; 
}
.content {
    background: url(http://www.planwallpaper.com/static/images/Cool-Wallpapers-Background-HD-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    min-height: 100%;
    margin: 0 auto -90px;
}
  

