.content {
    min-height: 100%;
    font-family:  'Raleway', sans-serif;	
}
.landing-background-title{
    background: url("../images/landing/landing_title.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 875px;
    margin-top: -90px;
    padding:90px;
}
.line {
    width: 1px;
    height: 70px ;
    margin: 60px auto;
    position: relative;
    overflow: hidden;
    background: grey;
}
.text-heading{
    margin-bottom: 20px;
}
img.newarrivals-images{
    height: 300px;
    width: 300px;
    margin: 50px;
}
img.speacial-promotion-big-branner{
    height: 400px;
    width: 1050px;
    margin: 50px;
}
img.speacial-promotion-small-branner{
    height: 400px;
    width: 505px;
    margin: 20px;
}