.content {
    min-height: 100%;
}
.landing-background-title{
    background: url(http://www.planwallpaper.com/static/images/Cool-Wallpapers-Background-HD-Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    margin-top: -90px;
    padding:90px;
}