.navbar-style {
    height: 80px;
    color: #FFFFFF;
    font-family: 'News Cycle', sans-serif;
    font-size: 22px;
    .i-search {
        font-size: 20px;
    }
    .i-cart {
        font-size: 25px;
    }
    img {
        height: 65px;
        width: 65px;
    }
}

.navbar-menu {
    align-self: center;
    input:focus {outline:0;}
}

.navbar-color-head {
    background-color: rgba(0, 0, 0, 0.07);
}

a.navbar-color-text:hover {
    color: rgb(189, 189, 189) !important;
}

.navbar-color-text {
    color: rgb(255, 255, 255);
    text-decoration: none !important;
}

.navbar-color-slide {
    transition: background-color .5s ease-out;    
    background-color: #737373;
}

.after-login {
    ul,li {
        text-align: center; 
        a {
            color: black;    
            font-size: 18px;          
        }
        input {
            border: 0px;
            background-color: transparent;
            font-size: 18px;
            &:hover {
                cursor: pointer;          
            }                      
        }
        &:hover {
            background-color: rgba(gray,0.2);
            cursor: pointer;          
        }
    }
}

.btn-dropdown-cart {
    background-color: inherit;
    color: white;
}

.btn-dropdown-cart:hover {
    background-color: white;
    color: black;
}

.dropdown-menu-cart{
    margin: .725rem 0 0;
    min-width: 25rem !important;
}

.f-dropdown:before {
    border: inset 6px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #FFFFFF transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    right: 30px;
    z-index: 89;
}
.f-dropdown:after {
    border: inset 7px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent #cccccc transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -14px;
    right: 30px;
    z-index: 88;
}
.div-cart-checkout{
    text-align: center;
    align-items: center;
    margin-top: 1.25rem;
    .btn-checkout{
        min-width: 8rem;
        border-radius: 100px;
    }
    .btn-checkout:hover{
        background-color: orange;
        color: black;
    }
}
.circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    color: #fff;
    line-height: 2rem;
    text-align: center;
    background: #737373
}
.dropdown-cart-title{
    align-items: center;
    justify-content: center;
    .i-cart{
        font-size: 2rem !important;
    }
    .space-between{
        margin: 0rem 0.5rem;
    }
}
.dropdown-cart-content{
    padding: 3px 0px !important;
    img{
        width: 6rem;
        height: 6rem;
    }
    .product-name{

    }
    .product-color{
        width : 3rem;
        background-color: green;
    }
    .product-size{
        width : 3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .product-border{
        border: solid 1px #737373;
    }
    .space-between-detail{
        margin: 0px 0.5rem;
        width : 50px;
    }
    .space-between-line{
        margin: 0.35rem 0rem;
    }
}
