.content {
    font-family: 'Marvel', sans-serif;
    padding: 0px 90px
}
.text-head-title{
    margin: 70px 0px;
}
.row-nav-product{
    border-top : solid 1px;
    border-bottom : solid 1px;
    padding: 15px 0px;
}
a.nav-button{
    margin: 0px 60px;
    font-size: 25px;
    color: black;
}
a:hover{
    color : gray;
    text-decoration: none !important;
}
.line {
    width: 1px;
    height: 40px;
    position: relative;
    overflow: hidden;
    background: grey;
    margin: 0px;
}
.dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 0px !important;
    padding: .5rem .5rem;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    width: 100%;    
}