<h1>Hello Admin</h1>
<a href="/">back</a>
<div>
	<form action="">
		<input id="id_image" type="file" class="" name="image">			
		<div>
			<label for="">name</label>
			<input type="text">
		</div>
		<div>
			<label for="">details</label>
			<input type="text">
		</div>
		<div>
			<label for="">product type</label>
			<select class="form-control" id="sel1">
				<option>Bags</option>
				<option>Soaps</option>
				<option>Dresses</option>
				<option>Shirts</option>
				<option>Scarves</option>
				<option>Accessories</option>
			</select>			
		</div>
		<div>
			<label for="">price</label>
			<input type="text">
		</div>
		<input type="submit" class="btn btn-danger">
	</form>
</div>
