{% extends "../../../layout/admin.html" %}
{% block content %}
<div class = "position-center text-title">
	<h1>Product</h1>
</div>
<a href="/admin">back to admin</a>
<div class = "padding-content d-flex justify-content-between">
	<div class = "d-flex flex-column">
		<i class="fa fa-list" aria-hidden="true"></i>
		<a href="/admin/product/show">show product</a>
	</div>
	<div class = "d-flex flex-column">
		<i class="fa fa-plus" aria-hidden="true"></i>
		<a href="/admin/product/add">add product</a>
	</div>
	<div class = "d-flex flex-column">
		<i class="fa fa-minus" aria-hidden="true"></i>
		<a href="/admin/product/delete">delete product</a>
	</div>
</div>
{% endblock %}