.navbar-style {
  height: 80px;
  color: #FFFFFF;
  font-family: 'News Cycle', sans-serif;
  font-size: 22px; }
  .navbar-style .i-search {
    font-size: 20px; }
  .navbar-style .i-cart {
    font-size: 25px; }
  .navbar-style img {
    height: 65px;
    width: 65px; }

.navbar-menu {
  align-self: center; }

.navbar-color-head {
  background-color: rgba(0, 0, 0, 0.07); }

a.navbar-color-text:hover {
  color: #bdbdbd !important; }

.navbar-color-text {
  color: white;
  text-decoration: none !important; }

.navbar-color-slide {
  background-color: #737373; }

footer {
  color: #888888;
  border-top: 1px solid;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
  font-family: 'Marvel', sans-serif;
  font-family: 'News Cycle', sans-serif; }
  footer img.image-logo {
    height: 65px;
    width: 65px; }
  footer img.image-social-icon {
    height: 45px;
    width: 45px; }
  footer img.image-license {
    height: 20px;
    width: 200px; }

.footer-size {
  height: 90px; }

.footer-center {
  align-self: center; }

.footer-image-center {
  display: block;
  margin: 0 auto;
  padding: 0 auto; }

.footer-items-space {
  margin: 0 20px; }

.footer-item-head {
  margin-left: 50px;
  margin-right: 20px; }

.footer-item-tail {
  margin-right: 50px;
  margin-left: 20px; }

.content {
  font-family: 'News Cycle', sans-serif; }

.landing-background-title {
  background: url("../images/landing/landing_title.42662b1c1f50.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 875px;
  margin-top: -90px;
  padding: 90px; }

.line {
  width: 1px;
  height: 70px;
  margin: 60px auto;
  position: relative;
  overflow: hidden;
  background: grey; }

.text-heading {
  margin-bottom: 20px; }

img.newarrivals-images {
  height: 100%;
  width: 100%; }

.newarrivals-items-margin-bottom {
  margin-bottom: 30px; }

img.speacial-promotion-big-branner {
  height: 400px;
  width: 1050px;
  margin: 20px; }

img.speacial-promotion-small-branner {
  height: 400px;
  width: 505px;
  margin: 20px; }

img.find-products {
  height: 200px;
  width: 200px; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6); }

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  margin-top: 25%;
  padding: 2em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.hovereffect a,
.hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  padding: 2px 35px;
  margin: 50px 0px;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  border: solid 1px; }

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect-small {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.hovereffect-small .overlay-small {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }

.hovereffect-small:hover .overlay-small {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.hovereffect-small img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.hovereffect-small:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6); }

.hovereffect-small h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  margin-top: 15%;
  padding: 2em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.hovereffect-small a,
.hovereffect-small p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  padding: 2px 35px;
  margin: 50px 0px;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  border: solid 1px; }

.hovereffect-small:hover a,
.hovereffect-small:hover p,
.hovereffect-small:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

h3.text-heading {
  font-size: 36px; }

.link-size {
  font-size: 25px; }

.find-our-product-space {
  margin: 20px; }

.content-find-products {
  margin-bottom: 90px; }

.image-card-container {
  height: 290px; }

.container-login {
  background-color: royalblue;
  padding: 10% 20% 10% 20%; }

.login {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5% 10% 5% 10%; }
  .login .head {
    font-family: 'Dosis', sans-serif;
    font-size: 36px; }
  .login .input-field {
    height: 50px;
    width: 60%;
    border: 1px solid #979797;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    padding: 0% 2% 0% 2%;
    margin: 10% auto 0% auto;
    display: block;
    font-family: 'Nixie One', cursive; }
  .login .forgot-password {
    margin: 2% 0% 8% 20%;
    font-family: 'Nixie One', cursive;
    color: #454545;
    font-size: 10px; }
    .login .forgot-password:hover {
      cursor: pointer;
      color: whitesmoke; }
  .login .group-button {
    text-align: center; }
  .login .button-submit {
    height: 36px;
    border: 1px solid #979797;
    border-radius: 100px;
    background-color: #E9E9E9;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 0 7%;
    margin: 0 3% 7% 3%;
    font-family: 'Dosis', sans-serif;
    color: #4A4A4A;
    text-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-top: 1%; }
    .login .button-submit:focus {
      outline: 0; }
    .login .button-submit:hover {
      cursor: pointer;
      background-color: whitesmoke; }
    .login .button-submit img {
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-right: 10px;
      vertical-align: sub; }
  .login .line-border {
    box-sizing: border-box;
    border-bottom: 1px solid #979797;
    width: 65%;
    margin: 0% auto 5% auto;
    display: block; }
  .login .login-by {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    margin-bottom: 5%; }

.product-content {
  font-family: 'Marvel', sans-serif;
  padding: 0px 90px; }

.text-head-title {
  margin: 70px 0px; }

.row-nav-product {
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 15px 0px; }

a.nav-button {
  margin: 0px 60px;
  font-size: 25px;
  color: black; }

a:hover {
  color: gray;
  text-decoration: none !important; }

.line-v {
  width: 1px;
  height: 40px;
  position: relative;
  overflow: hidden;
  background: grey;
  margin: 0px; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 0px !important;
  padding: .5rem .5rem;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #292b2c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  width: 100%; }

a.dropdown-page {
  color: black; }

.space-extra-small-h {
  margin: 15px 0px; }

.space-small-h {
  margin: 30px 0px; }

.space-medium-h {
  margin: 60px 0px; }

.space-extra-small-v {
  margin: 0px 15px; }

.space-small-v {
  margin: 0px 30px; }

.image-product {
  max-width: 400px; }

.page-button {
  border-top: solid 1px;
  padding: 30px; }

.btn-light {
  color: #111;
  background-color: white;
  border-color: white;
  font-size: 20px; }

.btn-light:hover {
  color: #111;
  background-color: #e2e6ea;
  border-color: #dae0e5; }

.btn-light-active {
  border: solid 1px;
  border-radius: 0px; }

.register .title-register {
  font-size: 36px;
  font-family: 'Dosis', sans-serif;
  color: #000000;
  margin: 5% 0;
  font-weight: 300; }

.register .sub-register {
  color: #000000;
  font-size: 28px;
  font-weight: 300;
  margin-left: 2%; }

.register .line-register {
  box-sizing: border-box;
  border-bottom: 1px solid #979797;
  margin: 3% 0; }

.register .input-field {
  width: 60%;
  border: 1px solid #979797;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  padding: 0% 2% 0% 2%;
  margin: 2% auto 0% auto;
  display: block;
  font-family: 'Nixie One', cursive; }

.register input {
  height: 50px; }

.register textarea {
  height: 80px; }

.register .margin-divide {
  margin-bottom: 5%; }

.register .sub-input-field {
  height: 50px;
  width: 28%;
  border: 1px solid #979797;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  margin: 2% 2% 0% 2%;
  padding: 0% 2% 0% 2%; }

.register .button-submit {
  height: 36px;
  border: 1px solid #979797;
  border-radius: 100px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 0 7%;
  margin: 0 3% 7% 3%;
  font-family: 'Dosis', sans-serif;
  color: #4A4A4A;
  text-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  font-size: 14px; }
  .register .button-submit:focus {
    outline: 0; }
  .register .button-submit:hover {
    cursor: pointer;
    background-color: #E9E9E9; }

.container-about {
  margin-top: 5%; }
  .container-about .title {
    font-size: 36px;
    font-weight: 500; }
  .container-about .sub-title {
    font-size: 20px;
    font-weight: 500; }
  .container-about .story {
    font-size: 16px;
    margin: 5% 15%; }
  .container-about .horizontal-line {
    box-sizing: border-box;
    border-bottom: 1px solid #979797;
    width: 65%;
    margin: 5% auto 10% auto;
    display: block; }
  .container-about img {
    width: 100%;
    height: 100%; }
  .container-about .row-img-container {
    margin: 5% 15%; }

html, body {
  height: 100%;
  margin: 0;
  background-color: white; }

.content {
  min-height: 100%; }
