{% extends "../layout/application.html" %}
{% load static %}
{% block content %}
	{% for image in all_images %}
		<img src="{{ image.Image.url }}" alt="" style="width:400px;height:400px;">
	{% endfor %}
	<h1 class = "text-center text-head">Shirt</h1>
	<div class = "detail-content ">
		<div class = "row">
			<div class = "col-6">
				<h4>Short-Sleeve Over Size Tops Lace Cotton<br>
					Soi-Fah Green Color.</h4>
			</div>
			<div class = "col-6 ">
				<h4 class = "text-center">Short-Sleeve Over Size Tops Lace Cotton<br>
					Soi-Fah Green Color.</h4>
				<div class = "line-padding">
					<hr>
				</div>
				<h4 class = "text-center">690.00฿</h4>
				<div class="d-flex justify-content-around">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Size
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							1
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">1</a>
							<a class="dropdown-item" href="#">2</a>
							<a class="dropdown-item" href="#">3</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Dropdown button
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}