{% extends "../layout/application.html" %}
{% load static %}
{% block content %}
	{% for image in all_images %}
		<img src="{{ image.Image.url }}" alt="" style="width:400px;height:400px;">
	{% endfor %}
	<h1 class = "text-center text-head">Shirt</h1>
	<div class = "detail-content ">
		<div class = "row">
			<div class = "col-6">
				<h4>Short-Sleeve Over Size Tops Lace Cotton<br>
					Soi-Fah Green Color.</h4>
			</div>
			<div class = "col-6 ">
				<h4 class = "text-center">Short-Sleeve Over Size Tops Lace Cotton<br>
					Soi-Fah Green Color.</h4>
				<div class = "line-padding">
					<hr>
				</div>
				<h4 class = "text-center">690.00฿</h4>
				
			</div>
		</div>
	</div>
{% endblock %}