.navbar-style {
	height: 80px;
	background-color: rgba(0,0,0,0.07);
	color:#FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;	
	font-size: 24px;
	i {
		font-size: 25px;
	}
	img {
		height:65px;
		width:65px;
	}
}
.navbar-menu {
	align-self: center;
}