.navbar-style {
  height: 80px;
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-size: 24px; }
  .navbar-style .i-search {
    font-size: 20px; }
  .navbar-style .i-cart {
    font-size: 25px; }
  .navbar-style img {
    height: 65px;
    width: 65px; }

.navbar-menu {
  align-self: center; }

.navbar-color-head {
  background-color: rgba(0, 0, 0, 0.07); }

.navbar-color-slide {
  background-color: #737373; }

a.navbar-color-text:hover {
  color: #3f3f3f !important; }

.navbar-color-text {
  color: black;
  text-decoration: none !important; }

body {
  background-color: darkcyan; }
